

body{
   
   
    
    background-color: #f0f2f5;
    
}



h1{
    color: #1877f2 ;
    font-size: 50px;
    
}
 

p{
    color: rgb(17, 16, 16);
    font-size: 15px;
}







form{
    background-color: white;
    border-radius: 10px;
    width:300px;
    margin-top: 70px;
   
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form input{
    width: 270px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    
    font-size: 16px;
}

.loginBtn{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    
}

.loginBtn:hover{
    background-color: #1d6acf;
}





.right p{
    font-family: 'Arial';
    font-size: 15px;
}
#status{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    color: ;


}
#status.success {
    background-color: rgb(211, 250, 153);
    font-weight: bold;
    font-size: 30px;
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
#a20{
    text-decoration: none;
}


@keyframes status {
    0% {
      opacity: 1;
      pointer-events: none;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  

@media(max-width:950px){
    .container{
        flex-direction: column;
    }
    
    .left{
        width: 400px;
        align-content: center;
        align-items: center;
    }
    
    .left p{
        height: 75px;
    }
    
}

#heads{
    margin-top: 0px;
}
